{% extends "core/base.html" %}
{% load static %}

{% block title %}Cargar Insumos{% endblock %}

{% block content %}
<main id="main" class="container-beer blur">
    
    {% include "core/componentes/user-header.html" %}
    <h1 class="titulo-primario">Cargar Insumos</h1>
    <div class="container">
        <form active="{% url 'proovedores' %}" method="post" enctype="multipart/form-data" class="mb-5 contact-form">
            {% csrf_token %}
            <div class="form-group">
                {{form.proovedor.label_tag}}
                {{form.proovedor}}
            </div>
            <div class="form-group">
                {{form.cerveza.label_tag}}
                {{form.cerveza}}
            </div>
            <div class="form-group">
                {{form.fecha.label_tag}}
                {{form.fecha}}
            </div>
            <div class="form-group">
                {{form.cantidad.label_tag}}
                {{form.cantidad}}
            </div>
            <button type="submit" class="btn btn-success">Guardar Cerveza</button>
        </form>
    </div>
</main>
{%endblock%}