{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.svg' %}" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
        
    <script src="https://kit.fontawesome.com/ea9535a4b8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/odometer@0.4.8/themes/odometer-theme-default.css">
    
    <link rel="stylesheet" href="{% static 'core/css/main.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include "core/componentes/header.html" %}
    {% include "core/componentes/verificador.html" %}
    {% block content %}{% endblock %}
    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="{% static 'core/js/verificador.js' %}"></script>
</body>
</html>