{% extends "core/base.html" %}
{% load static %}

{% block title %}Cervezas{% endblock %}

{% block content %}
<main id="main" class="container-beer container-beer-grid blur">
    <nav class="nav-beer">
        <h1 class="titulo-primario">Nuestras cervezas</h1>
        <div class="nav-list">
            <ul>
                {% for tipo in tipos %}
                <li>
                    <a href="#{{tipo}}">{{tipo|title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% for tipo in tipos %}
        <h2 id="{{tipo}}" class="delimitador">cervezas {{tipo}}s</h2>
        {% for cerveza in lista %}
            {% if cerveza.tipo == tipo|upper|slice:":3" %}
                {% include "core/componentes/card_beer.html" %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</main>
{% endblock %}