{% extends "core/base.html" %}
{% load static %}

{% block title %}Cervezas{% endblock %}

{% block content %}

<main id="main" class="container-beer blur">
    <nav class="nav-beer">
        <h1 class="titulo-primario">Nuestras cervezas</h1>
        <div class="nav-list">
            <ul>
                {% for tipo in tipos %}
                <li>
                    <a href="#{{tipo}}">{{tipo|title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% for tipo in tipos %}
        <h2 id="{{tipo}}" class="delimitador">cervezas {{tipo}}s</h2>
        {% for cerveza in cervezas %}
            {% if cerveza.tipo == tipo %}
                {% if forloop.counter|divisibleby:2 %}
                    {% include "core/componentes/card_beer_der.html" %}
                {% else %}
                    {% include "core/componentes/card_beer_izq.html" %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</main>

{% endblock %}