{% extends "core/base.html" %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
<main id="main" class="container-beer blur">
    <h1 class="titulo-primario">Contactanos</h1>
    <form class="contact-form" action="{% url "contacto" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{contacto_form.nombre.label_tag}}
            {{contacto_form.nombre}}
        </div>
        <div class="form-group">
            {{contacto_form.apellido.label_tag}}
            {{contacto_form.apellido}}
        </div>
        <div class="form-group">
            {{contacto_form.telefono.label_tag}}
            {{contacto_form.telefono}}
        </div>
        <div class="form-group">
            {{contacto_form.email.label_tag}}
            {{contacto_form.email}}
        </div>
        <div class="form-group">
            {{contacto_form.pais.label_tag}}
            {{contacto_form.pais}}
        </div>
        <div class="form-group">
            {{contacto_form.ciudad.label_tag}}
            {{contacto_form.ciudad}}
        </div>
        <div class="form-row">
            {{contacto_form.gustaCerveza.label_tag}}
            <span class="checkbox"> Si
                {{contacto_form.gustaCerveza}}
            </span>
            <p id="error"></p>
        </div>
        <div class="form-row">
            {{contacto_form.consulta.label_tag}}
            {{contacto_form.consulta}}
        </div>
        <div class="form-row captcha">
            <p>Resuelve lo siguiente <span>(*)</span></p>
            <span id="suma-captcha"></span>
            <input name="captcha" type="text" required>
            <button type="submit">Enviar</button>
        </div>
        
    </form>
</main>
{% endblock %}


