{% extends "core/base.html" %}
{% load static %}

{% block title %}Brewery{% endblock %}

{% block content %}
<main id="main" class="container blur">
    <section class="pr_block-container">
        <article class="pr_block-wrapper">
            <div class="pr_logos-container">
                <ul class="pr_logos-wrapper">
                    {% for logo in logos %}
                        {% with alt_text=logo|slice:"3:"|cut:".png" %}
                        <li><img src="{% static 'core/assets/logos/' %}{{ logo }}" alt="{{ alt_text }}"/></li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
            <div class="pr_logos-container">
                <ul class="pr_logos-wrapper">
                    {% for logo in logos %}
                        {% with alt_text=logo|slice:"3:"|cut:".png" %}
                        <li><img src="{% static 'core/assets/logos/' %}{{ logo }}" alt="{{ alt_text }}"/></li>
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </article>
    </section>
    <div class="fondo">
        <article class="contenido">
            <h1 class="titulo-vistoso" style="color: white;">cerveceria brewery 
                <p>Cerveza artesanal y de calidad desde 1702</p>
            </h1>
            <div class="card">
                <h3 class="title">MALTA, LÚPULO Y CEREALES CERVECEROS. LOS MEJORES INGREDIENTES PARA LOGRAR UNA BIRRA FÁCIL DE TOMAR POR Y PARA TODXS.</h3>
            </div>
            <div class="card">
                <div class="counter">
                    <h3 class="title">Litros de cerveza despachados</h3>
                    <div class="odometer" id="odometer">0000</div>
                    <p>Cada 500.000 litros de cerveza despachados Brewery hace un descuento general de sus productos</p>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/odometer@0.4.8/odometer.min.js"></script>
            </div>
        </article>
    </div>
</main>
{% endblock %}